@inherits LayoutComponentBase

<div class="page">
    
    <!--
    <div class="sidebar">
        <NavMenu />
    </div>
    -->

    <main>
        <div class="top-row px-5 mt-3 border-bottom-0 bg-black bg-opacity-0">
    
            <!--
                <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            -->
            <Header />


        </div>

        <article class="content px-4 d-flex justify-content-center">
            <div class="w-100" style="max-width:1445px">
                @Body
            </div>
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
